PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/
JWT_SECRET=change-this-in-production
CLIENT_ORIGIN=http://localhost:5173
# set to 1 on Railway if you want Express to serve ../client/dist after `npm run build` in /client
SERVE_STATIC=0
